<div class="container mt-5">
  <h1>{{descTitulo}}</h1>

  <form [formGroup]="funcionarioForm" (ngSubmit)= "submit()" #formDir="ngForm">
    <input type="hidden" formControlName="id">

    <div class="mt-3">
      <label for="inputName" class="form-label">Nome:</label>
      <input  class="form-control text-dark" type="text" id="inputName" formControlName="nome" placeholder="Insira o nome!" required>
    </div>

    <div class="mt-3">
      <label for="inputSobrenome" class="form-label">Sobrenome:</label>
      <input class="form-control text-dark" type="text" id="inputSobrenome" formControlName="sobrenome" placeholder="Insira o sobrenome!" required>
    </div>

    <div class="mt-3">
      <label for="selectDepartamento" class="form-label">Departamento:</label>
      <select class="form-select" id="selectDepartamento" formControlName="departamento" required>
        <option value="RH">RH</option>
        <option value="Financeiro">Financeiro</option>
        <option value="Compras">Compras</option>
        <option value="Atendimento">Atendimento</option>
        <option value="Zeladoria">Zeladoria</option>
      </select>
    </div>

    <div class="mt-3">
      <label class="form-label" for="selectTurno">Turno:</label>
      <select class="form-select" id="selectTurno" formControlName="turno" required>
        <option value="Manha">Manhã</option>
        <option value="Tarde">Tarde</option>
        <option value="Noite">Noite</option>
      </select>
    </div>

    <div class="mt-3">
      <button class="btn btn-success w-50" type="submit" [disabled]="!funcionarioForm.valid">{{btnAcao}}</button>
      <button class="btn btn-info w-50" [routerLink]="['/home']">Voltar</button>
    </div>
  </form>
</div>