<div class="funcionario-box">
  <button [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastrar novo funcionário</button>
  <div class="input-box">
    <label>Procurar</label>
    <input type="text" placeholder="Qual registro está buscando?"(input)="search($event)">
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Departamento</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @if(funcionarios.length > 0){
      @for (funcionario of funcionarios; track $index) {
        <tr>
          <td>
            @if (funcionario.ativo == true) {
              <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
            } @else {
              <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
            }
          </td>
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.sobrenome}}</td>
          <td>{{funcionario.departamento}}</td>
          <td>
            <button>Editar</button>
            <button>Detalhes</button>
          </td>
          <td>
            <button>Excluir</button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
