<div class="container mt-5">
  <button class="btn btn-danger w-100" (click)="logout()">Logout</button>
  <button class="btn btn-success w-100" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastrar novo funcionário</button>
  <div>
    <label for="inputProcurar" class="form-label">Procurar</label>
    <input class="form-control" id="inputProcurar" type="text" placeholder="Qual registro está buscando?"(input)="search($event)">
  </div>
</div>


<table class="table table-hover table-bordered mt-5">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Departamento</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @if(funcionarios.length > 0){
      @for (funcionario of funcionarios; track $index) {
        <tr>
          <td>
            @if (funcionario.ativo == true) {
              <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
            } @else {
              <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
            }
          </td>
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.sobrenome}}</td>
          <td>{{funcionario.departamento}}</td>
          <td>
            <button class="btn btn-warning mx-2" [routerLink]="['/editar', funcionario.id]">Editar</button>
            <button class="btn btn-info mx-2" [routerLink]="['/detalhes', funcionario.id]">Detalhes</button>
          </td>
          <td>
            <button class="btn btn-danger mx-2" (click)="openModal(funcionario.id!)">Excluir</button>
          </td>
        </tr>
      }
    }@else {
      <tr class="text-center">
        <td colspan="7">Nenhum usuário cadastrado</td>
      </tr>
    }
  </tbody>
</table>
